
{% extends "layout.html" %}
{% block content %}
   
    <h4><b>Live Currencies</b> Prices are fetching with help of API free version taken form
        Exchange Rate API and other sites which are very helpful to us for making good
        content in real time.
    </h4>

    <P>
        What makes double-spending unlikely, though, is the size of the Bitcoin network. A so-called 51% attack, in which a group of miners theoretically control more than half of all network power, would be necessary. By controlling a majority of all network power, this group could dominate the remainder of the network to falsify records. However, such an attack on Bitcoin would require an overwhelming amount of effort, money, and computing power, thereby rendering the possibility extremely unlikely.

But Bitcoin fails the utility test because people rarely use it for retail transactions. The main source of value for Bitcoin is its scarcity. The argument for Bitcoin's value is similar to that of gold—a commodity that shares characteristics with the cryptocurrency. The cryptocurrency is limited to a quantity of 21 million.

Bitcoin's value is a function of this scarcity. As the supply diminishes, demand for cryptocurrency has increased. Investors are clamoring for a slice of the ever-increasing profit pie that results from trading its limited supply.

Bitcoin also has limited utility like gold, the applications for which are mainly industrial. Bitcoin's underlying technology, called blockchain, is tested and used as a payment system. One of its most effective use cases is in remittances across borders to bump up speed and drive down costs. Some countries, like El Salvador, are betting that Bitcoin's technology will evolve sufficiently to become a medium for daily transactions.

Another theory is that Bitcoin has intrinsic value based on the marginal cost of producing one bitcoin. Mining for bitcoins involves a great deal of electricity, and this imposes a real cost on miners. According to economic theory, in a competitive market among producers all making the same product, the selling price of that product will tend towards its marginal cost of production. Empirical evidence has shown that the price of a bitcoin tends to follow the cost of production.
    </P>
    <style>
        p{
            padding-block-start: 1rem;
        }
        h4{
            font-family: Georgia, 'Times New Roman', Times, serif;
            padding-top: 1rem;
            padding-left:5rem;
            padding-right:5rem;
        }
    </style>
   
{% endblock content %}