{% extends "layout.html" %}
{% block content %}
   
<div class="titlepage">
    <h2>Crypto and World Currencies</h2>
    <p>
        Blockchain technology has the potential to transform the way we think about revolutions in banking, retail, and government. If it takes off, there will be no stopping this new system from distributing information on the internet. It is believed that blockchain technology will not only help people with their finances but also shock us with some shifts in society as a whole. Read on to learn more about how this innovative technology could change the world as we know it.
     </p>
  </div>
  <style>

      p{
          padding: 2rem;
          font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      }
    h2::before {
    position: absolute;
    content: "";
    background: #20010557;
    border-radius: 20px;
    width: 20px;
    height: 20px;
    top: 15px;
    margin-left: -37px;
}
  </style>

  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">News</h5>
            <p class="card-text">Blockchain Software Firm Consensys Acquires Mycrypto Ethereum Wallet</p>
            <a href="https://news.bitcoin.com/blockchain-software-firm-consensys-acquires-mycrypto-ethereum-wallet/" class="btn btn-primary">More News</a>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">BlockChain</h5>
          <p class="card-text">37 Blockchain Companies Paving the Way for the Future</p>
          <a href="https://builtin.com/blockchain/blockchain-companies-roundup" class="btn btn-primary">For more</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}